@import "../../vars.css";

.container {
  display: flex;
  flex-direction: column;
  border: 3px solid var(--color-secondary);
  border-radius: 10px;
  background: transparent;
  box-shadow: 0 16px 14px 0 #04152d;
  padding: 18px 24px;
  max-width: 345px;
}

.image {
  margin-bottom: 26px;
}

.title {
  font-size: 25px;
  font-weight: 700;
  color: var(--color-dark);
}

.description {
  margin-top: 6px;
  font-size: 25px;
  font-weight: 400;
  color: var(--color-dark);
}

.skills {
  width: 100%;
  margin-top: 14px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 6px;
  list-style: none;
  color: var(--color-text);
}

.skill {
  font-size: 25px;
  font-weight: 400;
  border-radius: 100px;
  background: var(--color-dark);
  padding: 2px 22px;
}

.links {
  width: 100%;
  margin-top: 26px;
  display: flex;
  justify-content: space-around;
}

.link {
  transition: transform 0.3s ease;
  text-decoration: none;
  color: var(--color-text);
  font-size: 30px;
  font-weight: 600;
  border-radius: 10px;
  background: var(--color-secondary);
  padding: 1px 22px;
}

.link:hover {
    transform: translateY(-10px);
    background: transparent;
    color: var(--color-secondary);
    border: 3px solid var(--color-secondary)

}

